
@font-face {
  font-family: 'HelvetiaNeueLtStdLt';
  src: url('../fonts/helveticaneueltstd-lt-webfont.eot');
  src: url('../fonts/helveticaneueltstd-lt-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/helveticaneueltstd-lt-webfont.woff') format('woff'), 
       url('../fonts/helveticaneueltstd-lt-webfont.ttf') format('truetype'), 
       url('../fonts/helveticaneueltstd-lt-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLtStdBook';
  src: url('../fonts/avenirltstd-book-webfont.eot');
  src: url('../fonts/avenirltstd-book-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/avenirltstd-book-webfont.woff') format('woff'), 
       url('../fonts/avenirltstd-book-webfont.ttf') format('truetype'), 
       url('../fonts/avenirltstd-book-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLtStdBookHeavy';
  src: url('../fonts/avenirltstd-heavy-webfont.eot');
  src: url('../fonts/avenirltstd-heavy-webfont?#iefix') format('embedded-opentype'), 
       url('../fonts/avenirltstd-heavy-webfont.woff') format('woff'), 
       url('../fonts/avenirltstd-heavy-webfont.ttf') format('truetype'), 
       url('../fonts/avenirltstd-heavy-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'GaramondPremierPro';
    src: url('../fonts/GaramondPremierPro.eot');
    src: url('../fonts/GaramondPremierPro.eot') format('embedded-opentype'),
         url('../fonts/GaramondPremierPro.woff2') format('woff2'),
         url('../fonts/GaramondPremierPro.woff') format('woff'),
         url('../fonts/GaramondPremierPro.ttf') format('truetype'),
         url('../fonts/GaramondPremierPro.svg#GaramondPremierPro') format('svg');
}

@font-face {
  font-family: 'PWsignaturefont';
  src: url('../fonts/PWsignaturefont.eot');
    src: url('../fonts/PWsignaturefont.eot') format('embedded-opentype'),
         url('../fonts/PWsignaturefont.woff') format('woff'),
         url('../fonts/PWsignaturefont.ttf') format('truetype'),
         url('../fonts/PWsignaturefont.svg#PWsignaturefont') format('svg');

  font-weight: normal;
  font-style: normal;
}


