---
title: "Home"
---

<div class="video-container" data-require="base/views/video-box">
	<img src="./img/preview_video.png" alt=""/>
	<video controls>
	  	<source src="./videos/video.mp4" type="video/mp4">
	</video>

	<div id="passwordBox" class="box-container" data-require="base/views/password-box">
		<span>Password</span>
	</div>
</div>

<div class="footer-logo">&nbsp;</div>