---
title: "Home"
---

<div id="firstPageContainer">
	<div class="video-container" data-require="base/views/video-box">
		<div class="video-content">
			<img src="./img/preview_video.png" alt=""/>
			<video controls>
			  	<source src="./videos/video.mp4" type="video/mp4">
			</video>
		</div>

		<div id="passwordBox" class="box-container" data-require="base/views/password-box">
			<span>Password</span>
		</div>
	</div>

	<div class="footer-logo">&nbsp;</div>
</div>


<div id="finalPageContainer" class="main-page__container">
	<div class="logos-container">
		<div class="site-logo">
			<img src="./img/logo_betterit.png"/>
		</div>
		<div class="and-text">
			and
		</div>
		<div class="customer-logo">
			<img src="./img/logo_customer.png"/>
		</div>
	</div>
	<div class="main-content__container">
		<div class="main-content__title">
			<h1>You are cordially invited</h1>
			<p>
				to participate in the BetterIt Communications Inc<br/>
				equity investment event.
			</p>
		</div>
		<div class="main-content__separate">&nbsp;</div>
		<div class="main-content__body">
			We are offering a 20% equity position in BetterIt Communications Inc to select investors.<br/>
			Please submit your offer to our attorney via email at: test@test.com.<br/>
			<br/><br/>
			All offers must be received by August 16th, 2015 to be considered.<br/>
			You may access our Investor Relations website at BetterIt.io/Investor using the following code: 468378
		</div>
		<div class="main-content__footer">
			<div class="main-content__footer__top">Kind regards,</div>
			<div class="main-content__footer__signature">
				<div class="signature-item">
					<span class="signature-item__text">Shawn Dunn</span>
					<span class="signature-item__full-name">Shawn Dunn, Partner</span>
				</div>
				<div class="signature-item">
					<span class="signature-item__text">Vnder Page</span>
					<span class="signature-item__full-name">Xander Page, Partner</span>
				</div>
			</div>
		</div>
		<div class="footer-logo">&nbsp;</div>
	</div>
</div>