.footer-logo {
	content: '';
	width: 32px;
	height: 33px;
	background: url('../img/footer_logo.png') no-repeat center center;
	margin: 40px auto 20px;
	display: block;
}

.box-container {
	width: 210px;
	height: 210px;
	background: url('../img/box.png') no-repeat center center;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	margin: -105px 0 0 -105px;
	text-align: center;

	font-size: 0;
	vertical-align: middle;

	&:before {
		content: '';
		height: 100%;
		vertical-align: middle;
		display: inline-block;
	}

	&.active {
		cursor: pointer;
		.password-text {
			display: inline-block;
		}
		.password-input {
			display: none;
		}
	}

	.password-text {
		display: none;
		font-size: rem(15px);
		line-height: 20px;
		color: #f5c10e;
		vertical-align: middle;
		text-transform: uppercase;
		letter-spacing: 4px;
		max-width: 90%;
		overflow: hidden;
	}

	.password-input {
		display: inline-block;
		font-size: rem(15px);
		line-height: 20px;
		color: #f5c10e;
		vertical-align: middle;
		text-transform: uppercase;
		letter-spacing: 4px;
		width: 100%;
		max-width: 90%;
		overflow: hidden;
		text-align: center;
		background: none;
		border: none;
		outline: none;

		&::-webkit-input-placeholder {
		   color: #f5c10e;
		}

		&:-moz-placeholder { /* Firefox 18- */
		   color: #f5c10e;
		}

		&::-moz-placeholder {  /* Firefox 19+ */
		   color: #f5c10e;
		}

		&:-ms-input-placeholder {  
		   color: #f5c10e;
		}
	}
}

.video-container {
	position: relative;
	margin: 50px auto 0;

	@include respond-to-min($tabletWidth) {
		margin: 100px auto 0;
	}
	
	&.active {
		.video-content {
			opacity: 1;
		}
		
		img, video {
			opacity: 1;
			pointer-events: auto;
		}
	}

	.video-content {
		border: 1px solid #f5c10e;
		opacity: 0;
		margin: 0 auto;
		position: relative;
		width: 100%;

		@include respond-to-min($tabletWidth) {
			max-width: 800px;
			padding: 0;
		}
	}

	img {
		position: relative;
		z-index: 0;
		width: 100%;
		display: block;
		opacity: 0;

		pointer-events: none;
		transition: opacity 1s;
	}

	video {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		top: 0px;
		left: 0px;
		opacity: 0;

		pointer-events: none;
		transition: opacity 1s;

	}
}

.main-page__container {
	position: absolute;
	opacity: 0;
	display: none;

	top: 55px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 0 15px;
	width: 100%;

	&.active {
		position: relative;
		top: 0px;
		margin: 55px auto 0;
		left: 0px;
		transform: translate(0,0);
	}

	@include respond-to-min($tabletWidth) {
		max-width: 760px;
		padding: 0;
	}
}
.logos-container {
	margin: 0 auto 50px;
	.site-logo {
		opacity: 0;

		.main-page__container.active & {
			-webkit-animation: fadeIn 1s ease-in-out 0.5s forwards;
		  	-moz-animation: fadeIn 1s ease-in-out 0.5s forwards;
		  	-ms-animation: fadeIn 1s ease-in-out 0.5s forwards;
		  	animation: fadeIn 1s ease-in-out 0.5s forwards;
		}

		img {
			display: inline-block;
		}
	}
	.and-text {
		opacity: 0;
		display: inline-block;
		font-size: rem(14px);
		line-height: rem(18px);
		font-family: 'AvenirLtStdBook';
		color: #f8f8f8;
		padding: rem(15px 0);

		@include respond-to-min($tabletWidth) {
			font-size: rem(16px);
			line-height: rem(20px);
		}

		.main-page__container.active & {
			-webkit-animation: fadeIn 1s ease-in-out 1.5s forwards;
		  	-moz-animation: fadeIn 1s ease-in-out 1.5s forwards;
		  	-ms-animation: fadeIn 1s ease-in-out 1.5s forwards;
		  	animation: fadeIn 1s ease-in-out 1.5s forwards;
		}
	}
	.customer-logo {
		opacity: 0;

		.main-page__container.active & {
			-webkit-animation: fadeIn 1s ease-in-out 2.5s forwards;
		  	-moz-animation: fadeIn 1s ease-in-out 2.5s forwards;
		  	-ms-animation: fadeIn 1s ease-in-out 2.5s forwards;
		  	animation: fadeIn 1s ease-in-out 2.5s forwards;
		}

		img {
			display: inline-block;
		}
	}
}
.main-content {
	&__container {
		text-align: center;
		color: #f8f8f8;
		opacity: 0;

		.main-page__container.active & {
			-webkit-animation: fadeIn 1s ease-in-out 3.5s forwards;
		  	-moz-animation: fadeIn 1s ease-in-out 3.5s forwards;
		  	-ms-animation: fadeIn 1s ease-in-out 3.5s forwards;
		  	animation: fadeIn 1s ease-in-out 3.5s forwards;
		}
	}
	&__title {
		h1 {
			margin: 0;
			font-family: 'GaramondPremierPro';
			font-size: rem(24px);
			line-height: rem(34px);
			text-transform: uppercase;			

			@include respond-to-min($tabletWidth) {
				font-size: rem(30px);
				line-height: rem(42px);
			}
		}
		p {
			margin: 0;
			padding: 0;
			font-size: rem(14px);
			line-height: rem(20px);
			font-family: 'AvenirLtStdBook';

			@include respond-to-min($tabletWidth) {
				font-size: rem(16px);
				line-height: rem(22px);
			}
		}
	}
	&__separate {
		max-width: 100%;
		width: 368px;
		height: 17px;
		background: url('../img/separate.png') no-repeat center center;
		background-size: cover;
		margin: 20px auto;
	}
	&__body {
		margin: 0 0 80px;
		padding: 0;
		font-size: rem(14px);
		line-height: rem(20px);
		font-family: 'AvenirLtStdBook';

		@include respond-to-min($tabletWidth) {
			font-size: rem(16px);
			line-height: rem(24px);
		}
	}
	&__footer {
		&__top {
			font-size: rem(14px);
			line-height: rem(20px);
			font-family: 'AvenirLtStdBook';
			margin: 0 0 10px;

			@include respond-to-min($tabletWidth) {
				font-size: rem(16px);
				line-height: rem(22px);
			}
		}
		&__signature {
			.signature-item {
				display: inline-block;
				padding: 0 15px 20px;

				@include respond-to-min($tabletWidth) {
					padding: 0 40px;				
				}

				&__text {
					display: block;
					color: #f5c10e;
					font-family: 'PWsignaturefont';
					font-size: rem(30px);
					line-height: rem(40px);

					@include respond-to-min($tabletWidth) {
						font-size: rem(50px);
						line-height: rem(60px);
					}
				}
				&__full-name {
					display: block;
					font-size: rem(14px);
					line-height: rem(18px);
					color: #f5c10e;
					font-family: 'AvenirLtStdBookHeavy';

					@include respond-to-min($tabletWidth) {
						font-size: rem(16px);
						line-height: rem(20px);
					}
				}
			}
		}
	}
}